<h3 class="attachments__title">Attachments</h3>
<table class="attachments-table__reviews">
  <tr class="attachments-table__reviews__review-header">
    <td class="attachments-table__reviews__review-info">
      Reviewer Name (Action)
    </td>
    <td class="attachments-table__reviews__review-info attachments-table__reviews__review-info--rating">
      ⭑⭑⭑
    </td>
  </tr>
  <tr>
    <td class="attachments-table__reviews__review-question" colspan="2">This is a question?</td>
  </tr>
  <tr >
    <td class="attachments-table__reviews__review-answer" colspan="2">This is the answer.</td>
  </tr>
  <tr>
      <td class="attachments-table__reviews__review-question" colspan="2">This is a question?</td>
    </tr>
    <tr >
      <td class="attachments-table__reviews__review-answer" colspan="2">This is the answer.</td>
    </tr>
  <tr class="attachments-table__reviews__review-body">
    <td colspan="2" class="attachments-table__reviews__review-body-content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi maximus tristique posuere. Nam nec nibh sagittis, aliquam arcu non, volutpat urna. Curabitur ultrices luctus ullamcorper. Duis orci odio, consectetur ultricies sapien at, accumsan hendrerit turpis. Maecenas in lacus pellentesque, semper ante et, ultricies sapien. Quisque imperdiet eros ut convallis molestie. Suspendisse commodo sed diam vel tincidunt. Pellentesque pulvinar convallis lorem sed rhoncus. Quisque rutrum eget tellus id rutrum. Fusce imperdiet leo eros, aliquam pharetra dolor pretium vitae.
        </p>
    </td>
  </tr>
  <tr>
    <td colspan="2" class="attachments-table__reviews__review-link">
      <a>https://www.sci.pe/reviewurl</a>
    </td>
  </tr>
</table>
