            </td>
            <td class="margin__side"></td>
          </tr>
          <tr>
            <td class="margin__side"></td>
            <td class="margin__top"></td>
            <td class="margin__side"></td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table class="footer-table">
        <tr>
          <td class="footer-table__footer">
            <p>
              <em>This message was sent automatically. Please do not reply.</em>
            </p>
            <p>
              <a href="https://sci.pe" title="science periodicals">sci.pe</a> - &copy; <%= new Date().getFullYear() %> - <a href="mailto:support@sci.pe">support@sci.pe</a>
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr class="v-spacer">
    <td></td>
  </tr>
</table>
