<table class="body-table">
  <tr>
    <td class="body-table__main">
      <table class="banner-table">
        <tr>
          <td class="banner-table__main">
            <a href="https://sci.pe">
              <img src="https://sci.pe/images/sci.pe-logo_200px.png" alt="sci.pe" class="header__logo"/>
            </a>
          </td>
          <td class="header-table__icon"></td>
        </tr>
      </table>
      <table class="content-table">
        <tbody>
          <tr>
            <td class="margin__side"></td>
            <td class="margin__top"></td>
            <td class="margin__side"></td>
          </tr>

          <tr class="v-spacer">
            <td></td><td></td><td></td>
          </tr>
          <tr>
            <td class="margin__side"></td>
            <td class="content-table__main">
